body {

    background-image: url(/bilder/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    display: flex;
    align-items: center;
    min-height: 60vh;
    justify-content: center;
}


h1 {
    display: inline;
}
p {
    display: inline;
    font-size: 40px;
}